body{

    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: rgb(193,193,251);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;

}

#result{

    display: grid; /* ugy mukodik mint a flex-nel, minden gyermekelemre vonatkozik a beallitas: egy sorban 3 elem legyen */
    width: 1200px; /* 1200px teruleten tortenjen meg a felosztas */
    grid-template-columns: repeat(3, 1fr); /* "fr" = fraction, 3 elemet ismeteljen egy sorba (automatikusan allitsa be a tavolsagot koztuk)*/
    gap: 20px;
    place-items: center; /* kozepre igazitja az elemeket az 1200px-en belul */ 
}

.order{

    width: 300px;
    height: 350px;
    padding: 10px;
    border: 1px solid #f9f9f989;
    border-radius: 10px;
    background: #f9f9f989;
    box-shadow: 0 2px 6 px rgba(0,0,0,0.3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{

    width: 50%;

}

hr{

    width: 100%;
    height: 2px;
    background: black;
    border: none;

}